service firebase.storage {
  match /b/{bucket}/o {
    match /receipts_inbound/{fileName} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
  }
}