body {
    background-color: white;
    margin: unset;
    padding: unset;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    /* border: 1px solid red */
    position: relative;
    width: 48vw;
}

section:nth-child(even) {
    align-self: flex-end;
}

img {
    height: auto;
    width: 100%
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
}

section div {
    position: absolute;
    top: 20%;
    right: 0;
    width: 50%;
    padding-right: 1rem;
}

p {
    color: white;
    font-size: 2rem;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}